.button {
  --button-fg: var(--near-black, #111);
  --button-bg: var(--light-gray, #eee);
  --button-border-color: var(--near-black, #111);
  --button-box-shadow-color: var(--silver, #999);

  background-color: var(--button-bg);
  border: none;
  border-color: var(--button-border-color);
  border-radius: var(--button-border-radius, 0);
  box-shadow: var(--button-box-shadow);
  color: var(--button-fg);
  cursor: pointer;
  display: inline;
  font-size: var(--button-font-size, 1rem);
  padding: var(--button-padding-vert, 0.25rem)
    var(--button-padding-horiz, 0.5rem);
  text-align: center;
  font-weight: var(--button-font-weight, bold);
}
