.typography {
}

.hElements {
}

.fontSizes {
  & > *:nth-child(even) {
    background-color: var(--silver, #999);
  }
}

.fontSpacing {
  margin: auto;

  & > h2 {
    text-align: center;
  }

  & p {
    margin: var(--spacing-small, 0.5rem);
  }
}

.fonts {
  & > li {
    padding-bottom: var(--spacing-small);
  }

  & > li:nth-child(even) {
    background-color: var(--silver, #999);
  }
}
