.card {
  height: 100%;
  composes: flexCenter from global;

  & > * {
    width: var(--measure) !important;
    height: 60% !important;
  }
}

.text {
  composes: card;
}

.list {
  composes: card;
}

.figure {
  composes: card;
}

.img {
  composes: card;
}
