.card {
  display: grid;
  margin: var(--spacing-none);
  padding: var(--spacing-none);
  border-radius: var(--card-border-radius);
  border-color: var(--card-border-color);
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'body' 'footer';

  & > * {
    grid-column: 1;
    width: 100%;
    border-radius: var(--border-radius-none, 0);

    &:first-child {
      border-top-left-radius: var(--card-border-radius);
      border-top-right-radius: var(--card-border-radius);
    }

    &:last-child {
      border-bottom-left-radius: var(--card-border-radius);
      border-bottom-right-radius: var(--card-border-radius);
    }
  }
}

.footerButtons {
  composes: flexRow from global;
  justify-content: space-evenly !important;
  background-color: var(--black-20, rgba(0, 0, 0, 0.2));
}

.cardBorder {
  border: thin solid var(--card-border-color);
}

.cardFooter {
  grid-area: footer;
  text-align: center;
  color: var(--card-footer-fg);
  background-color: var(--card-footer-bg);
}

.cardHeader {
  padding: var(--spacing-extra-extra-small) var(--spacing-extra-small);
  background-color: var(--card-header-bg);
  color: var(--card-header-fg);
  grid-area: header;
}

.cardBody {
  background-color: var(--card-reading-bg);
  padding: var(--spacing-small, .5rem);
  color: var(--card-reading-fg);
  grid-area: body;
}

.textBody {
  composes: cardBody;
  padding: var(--spacing-small, 0.5rem);
  overflow-y: auto;

  & > p {
    padding-bottom: var(--spacing-medium);
  }
}

.imgBody {
  composes: cardBody;
  padding: var(--spacing-none, 0);
  margin: var(--spacing-none, 0);
  width: 100%;
}

.listBody {
  padding: var(--spacing-small, .5rem);
}

.defaultTheme {
  --card-header-bg: var(--dark-blue);
  --card-header-fg: var(--near-white);
  --card-reading-bg: var(--black-20);
  --card-reading-fg: var(--near-black);
  --card-footer-bg: var(--dark-blue);
  --card-footer-fg: var(--near-white);
  --card-border-radius: var(--border-radius-3);
  --card-border-color: var(--dark-blue);
}

.successTheme {
  --card-header-bg: var(--brand-success);
  --card-header-fg: var(--near-white);
  --card-reading-bg: var(--washed-green);
  --card-reading-fg: var(--near-black);
  --card-footer-bg: var(--brand-success);
  --card-footer-fg: var(--near-white);
  --card-border-radius: var(--border-radius-3);
  --card-border-color: var(--brand-success);
}

.dangerTheme {
  --card-header-bg: var(--brand-danger);
  --card-header-fg: var(--near-white);
  --card-reading-bg: var(--washed-red);
  --card-reading-fg: var(--near-black);
  --card-footer-bg: var(--brand-danger);
  --card-footer-fg: var(--near-white);
  --card-border-radius: var(--border-radius-3);
  --card-border-color: var(--brand-danger);
}

.infoTheme {
  --card-header-bg: var(--brand-info);
  --card-header-fg: var(--near-white);
  --card-reading-bg: var(--washed-blue);
  --card-reading-fg: var(--near-black);
  --card-footer-bg: var(--brand-info);
  --card-footer-fg: var(--near-white);
  --card-border-radius: var(--border-radius-3);
  --card-border-color: var(--brand-info);
}

.warningTheme {
  --card-header-bg: var(--brand-warning);
  --card-header-fg: var(--near-white);
  --card-reading-bg: var(--washed-yellow);
  --card-reading-fg: var(--near-black);
  --card-footer-bg: var(--brand-warning);
  --card-footer-fg: var(--near-white);
  --card-border-radius: var(--border-radius-3);
  --card-border-color: var(--brand-warning);
}
