.default {
  --card-header-bg: var(--dark-blue);
  --card-header-fg: var(--near-white);
  --card-reading-bg: var(--black-20);
  --card-reading-fg: var(--near-black);
  --card-footer-bg: var(--dark-blue);
  --card-footer-fg: var(--near-white);
  --card-border-radius: var(--border-radius-3);
  --card-border-color: var(--dark-blue);
}

.success {
  --card-header-bg: var(--brand-success);
  --card-header-fg: var(--near-white);
  --card-reading-bg: var(--washed-green);
  --card-reading-fg: var(--near-black);
  --card-footer-bg: var(--brand-success);
  --card-footer-fg: var(--near-white);
  --card-border-radius: var(--border-radius-3);
  --card-border-color: var(--brand-success);
}

.danger {
  --card-header-bg: var(--brand-danger);
  --card-header-fg: var(--near-white);
  --card-reading-bg: var(--washed-red);
  --card-reading-fg: var(--near-black);
  --card-footer-bg: var(--brand-danger);
  --card-footer-fg: var(--near-white);
  --card-border-radius: var(--border-radius-3);
  --card-border-color: var(--brand-danger);
}

.info {
  --card-header-bg: var(--brand-info);
  --card-header-fg: var(--near-white);
  --card-reading-bg: var(--washed-blue);
  --card-reading-fg: var(--near-black);
  --card-footer-bg: var(--brand-info);
  --card-footer-fg: var(--near-white);
  --card-border-radius: var(--border-radius-3);
  --card-border-color: var(--brand-info);
}

.warning {
  --card-header-bg: var(--brand-warning);
  --card-header-fg: var(--near-white);
  --card-reading-bg: var(--washed-yellow);
  --card-reading-fg: var(--near-black);
  --card-footer-bg: var(--brand-warning);
  --card-footer-fg: var(--near-white);
  --card-border-radius: var(--border-radius-3);
  --card-border-color: var(--brand-warning);
}
